header{
    box-shadow: 0px 10px 15px rgba(210, 210, 210, 0.731);
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1000;
    margin-bottom: 5vh;
    background: #ffffff;
    top: 0;
}
header:hover{
    box-shadow: 0px 10px 15px rgba(204, 201, 201, 0.731);
    transform: translateY(5px);   
}
